## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

updated_df = application_df.drop(columns=["EIN", "NAME"])
updated_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.

updated_df.nunique()

APPLICATION_TYPE             9
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"

application_counts = updated_df["APPLICATION_TYPE"].value_counts()
print(application_counts)

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

cutoff = 500
application_types_to_replace = updated_df["APPLICATION_TYPE"].value_counts()[updated_df["APPLICATION_TYPE"].value_counts() < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    updated_df['APPLICATION_TYPE'] = updated_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
updated_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"

classification_count = updated_df["CLASSIFICATION"].value_counts()
print(classification_count)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1

value = 1
classification_over_1 = updated_df["CLASSIFICATION"].value_counts()[updated_df["CLASSIFICATION"].value_counts() > value]
print(classification_over_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

cutoff = 1000
value_counts = updated_df['CLASSIFICATION'].value_counts()
classifications_to_replace = value_counts[value_counts < cutoff]

# Replace in dataframe
for cls in classifications_to_replace.index:
    updated_df['CLASSIFICATION'] = updated_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
print(updated_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`

app_df = pd.get_dummies(updated_df)
print(app_df)

       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0           1      5000              1                   False
1           1    108590              1                   False
2           1      5000              0                   False
3           1      6692              1                   False
4           1    142590              1                   False
...       ...       ...            ...                     ...
34294       1      5000              0                   False
34295       1      5000              0                   False
34296       1      5000              0                   False
34297       1      5000              1                   False
34298       1  36500179              0                   False

       APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                      True                 False                False
1                     False                 False                 True
2                     False                 False                False
3                     False                 False                 True
4                     False                 False                 True
...                     ...                   ...                  ...
34294                 False                 False                False
34295                 False                 False                False
34296                 False                 False                 True
34297                 False                 False                False
34298                 False                 False                 True

       APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    False                False                False  ...
1                    False                False                False  ...
2                    False                 True                False  ...
3                    False                False                False  ...
4                    False                False                False  ...
...                    ...                  ...                  ...  ...
34294                 True                False                False  ...
34295                 True                False                False  ...
34296                False                False                False  ...
34297                False                 True                False  ...
34298                False                False                False  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  False                   False                     False
1                   True                   False                     False
2                  False                   False                     False
3                  False                    True                     False
4                  False                   False                      True
...                  ...                     ...                       ...
34294              False                   False                     False
34295              False                   False                     False
34296              False                   False                     False
34297              False                   False                     False
34298              False                   False                     False

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   False             False                   False
1                   False             False                   False
2                   False             False                   False
3                   False             False                   False
4                   False             False                   False
...                   ...               ...                     ...
34294               False             False                   False
34295               False             False                   False
34296               False             False                   False
34297               False             False                   False
34298               False              True                   False

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                False              False                      True
1                False              False                      True
2                False              False                      True
3                False              False                      True
4                False              False                      True
...                ...                ...                       ...
34294            False              False                      True
34295            False              False                      True
34296            False              False                      True
34297            False              False                      True
34298            False              False                      True

       SPECIAL_CONSIDERATIONS_Y
0                         False
1                         False
2                         False
3                         False
4                         False
...                         ...
34294                     False
34295                     False
34296                     False
34297                     False
34298                     False

[34299 rows x 44 columns]

In [ ]:
# Split our preprocessed data into our features and target arrays

X = app_df.drop("IS_SUCCESSFUL", axis=1)
y = app_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=X_train.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 80)             │         3,520 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

## Compile, Train and Evaluate the Model

In [ ]:
# Compile the model

nn.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [ ]:
# Train the model

fit_model = nn.fit(
    X_train_scaled,
    y_train,
)

804/804 ━━━━━━━━━━━━━━━━━━━━ 12s 7ms/step - accuracy: 0.7110 - loss: 0.5861

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 3ms/step - accuracy: 0.7217 - loss: 0.5653
Loss: 0.5652965903282166, Accuracy: 0.7217492461204529

In [ ]:
# Export our model to HDF5 file

nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

 ## Report on the Neural Network Model

**Overview**

The purpose of this analysis is to help the nonprofit, Alphabet Soup, by creating a tool that can select applicants with the highest chances of success in their business ventures. Using machine learning and neural networks, I built a binary classifier that predicts whether applicants will be successful if funded by Alphabet Soup. I worked with a dataset containing over 34,000 organizations that have received funding from Alphabet Soup over time. In this analysis, I preprocessed the data, trained and evaluated the model, and optimized it to improve performance.

**Results**

*Data Preprocessing*



*  The target variable is "IS_SUCCESSFUL" to find the applicants that are most likely to be successful.
*  The features of my model include "APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "STATUS", "INCOME_AMT", "SPECIAL_CONSIDERATIONS", "ASK_AMT" and "IS_SUCCESSFUL".
*  The variables removed from the data are "EIN" and "NAME".

*Compiling, Training, and Evaluating the Model*



*   I used a neural network with three layers: two hidden layers and one output layer. The first hidden layer had 80 neurons, and the second had 30 neurons. I used the ReLU activation function in both hidden layers because it helps the model learn better. The output layer had 1 neuron with a sigmoid activation function since I was trying to make a yes/no prediction.
*   With my attempts to optimize the model with 3 layers, performance is at 72% which falls slightly below the 75% accuracy benchmark.
*   I tried working with more neurons and layers as well as different activation functions to help the model learn better.

**Summary**

The goal of this model was to use machine learning to predict which applicants would be most successful if given funding for their business ventures. The data targeted successful applicants and excluded the "NAME" and "EIN" columns because they were neither targets or useful features. Using neural networks with 3 layers and 2 different activation functions, my model was able to achieve 72% accuracy. I think a Random Forest model could help solve this problem because it can automatically select important applicant features and make predictions without needing to manually optimize layers and neurons.